{% extends 'paterns/base.html.twig' %}
{% import 'paterns/macros/post.html.twig' as post %}
{% import 'paterns/macros/rubrique_collection.html.twig' as rubrique %}
{% import 'paterns/macros/flash.html.twig' as flash %}

{% block title %}
    {{ 'Mon compte' }}
{%  endblock %}

{% block body %}
    <div class="container" style="margin-top: 30px;">

        {% for message in app.flashes('success') %}
            {{ flash.success(message)}}
        {% endfor %}

        <ul class="collapsible center popout">
            {{ rubrique.form('Mon compte', 'assignment', form, user) }}
            {{ rubrique.list('tutorial', 'Mes tutoriels', own_tutorials, 'dvr') }}
            {{ rubrique.list('forum', 'Mes forums', own_forums, 'forum') }}
            {{ rubrique.comments('Mes commentaires ...', '... aux tutoriels', '... aux forums', own_answers_tutorials, own_answers_forums, 'comment', 'dvr', 'forum') }}
            {{ rubrique.suggestion('Les suggestions ...', '... à mes tutoriels', '... à mes forums', own_suggestions_tutos, own_suggestions_forums, 'announcement', 'dvr', 'forum') }}
        </ul>
    </div>
{%  endblock %}