{% extends 'paterns/base.html.twig' %}
{% import 'paterns/macros/form.html.twig' as form %}

{% block title %}
    Se connecter
{%  endblock %}

{% block body %}

    {% if error %}
        <div class="card-panel red lighten-2" style="text-align: center; margin-left: 340px; margin-right: 340px;">
            {{ error.messageKey | trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <div class="container">
        <form method="POST" action="{{ path('connexion')}}">
            <div class="row">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">email</i>
                        <label for="mail">Adresse email</label>
                        <input id="mail" name="_username" type="text" class="validate" value="{{ lastusername }}" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">security</i>
                        <label for="password">Mot de passe</label>
                        <input id="password" name="_password" type="password" class="validate" required>
                    </div>
                </div>
            </div>
            <button class="btn waves-effect waves-light light-blue darken-1" type="submit" name="action">Se connecter
                <i class="material-icons left">send</i>
            </button>
        </form>

        <a href="{{ path('inscription') }}">
            <button class="btn waves-effect waves-teal btn-flat purple lighten-5">S'inscrire</button>
        </a>
        <a href="{{ path('home.tutorials') }}">
            <button class="btn waves-effect waves-light center">Retour à l'accueil</button>
        </a>
    </div>
{%  endblock %}