{% extends 'paterns/base_triptych.html.twig' %}
{% import 'paterns/macros/comment.twig' as comment_m %}
{% import 'paterns/macros/chips.html.twig' as chips %}
{% import 'paterns/macros/post.html.twig' as _post %}

{% block title %}
    {{ details_post.title }}
{% endblock %}

{% block body %}

    {{ _post.card_post('tutorial', details_post, nb_likes, has_liked, type) }}

    {% if app.user is empty %}
        <a href="{{ path('connexion') }}">
            <br>
            <button class="btn waves-effect waves-light center" type="submit" name="action">Se connecter pour ajouter un commentaire</button>
        </a>
    {% else %}
        {{ form_start(form) }}
            {{ form_row(form.content) }}
            <button class="btn waves-effect waves-light blue lighten-2">Poster</button>
        {{ form_end(form) }}
    {% endif %}<br>

    {% for comment in answers_post %}
        {{ comment_m.show(comment) }}
    {% endfor %}

{% endblock %}