{% extends 'paterns/base.html.twig' %}
{% import 'paterns/macros/flash.html.twig' as flash %}

{% block title %}
    Gérer les posts
{%  endblock %}

{% block body %}
    <div class="container">

        {% for message in app.flashes('success') %}
            {{ flash.success(message)}}
        {% endfor %}

        {% for message in app.flashes('error') %}
            {{ flash.error(message)}}
        {% endfor %}

        <h3>Tutoriels</h3>

        <a href="{{ path('admin.tutorial.new') }}">
            <button class="btn waves-effect waves-light green lighten-2">
                <i class="material-icons left">add</i>Créer un tutoriel
            </button>
        </a><br>

        <table class="centered striped highlight responsive-table tstbd">
            <thead>
                <tr>
                    <th>ID</th>
                    <th style="width: 250px;">Titre</th>
                    <th>Catégorie</th>
                    <th>Créateur</th>
                    <th>Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for tuto in tutorials %}
                    <tr>
                        <td>#{{ tuto.id }}</td>
                        <td><a href="{{ path('tutorial.details', {id: tuto.id, slug: tuto.slug }) }}">{{ tuto.title }}</a></td>
                        <td><a href="{{ path('category.list', {id: tuto.idCategory.id, label: tuto.idCategory.label }) }}">{{ tuto.idCategory.label }}</a></td>
                        <td><a href="{{ path('posts.createdBy', {id: tuto.idUser.id }) }}">{{ tuto.idUser.firstname ~ ' ' ~ tuto.idUser.lastname }}</a></td>
                        <td>{{ tuto.datecreation|date("d/m/Y") }}</td>
                        <td>
                            <div class="row">
                                <div class="col s6">
                                    <a href="{{ path('admin.tutorial.edit', {id: tuto.id}) }}"
                                       class="btn waves-effect waves-light blue lighten-2"><i class="material-icons">edit</i></a>
                                </div>
                                <div class="col s6">
                                    <form method="post" action="{{ path('admin.tutorial.delete', {id: tuto.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ?')">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tuto.id) }}">
                                        <button class="btn waves-effect waves-light red lighten-2"><i class="material-icons">delete_forever</i></button>
                                    </form>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <br>
    
    <div class="container">
        <h3>Forums</h3>

        <a href="{{ path('admin.forum.new') }}">
            <button class="btn waves-effect waves-light green lighten-2">
                <i class="material-icons left">add</i>Créer un forum
            </button>
        </a><br>

        <table class="centered striped highlight responsive-table tstbd">
            <thead>
            <tr>
                <th>ID</th>
                <th>Titre</th>
                <th>Créateur</th>
                <th>Date</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for forum in forums %}
                <tr>
                    <td>#{{ forum.id }}</td>
                    <td><a href="{{ path('forum.details', {id: forum.id, slug: forum.slug }) }}">{{ forum.title }}</a></td>
                    <td><a href="{{ path('posts.createdBy', {id: forum.idUser.id }) }}">{{ forum.idUser.firstname ~ ' ' ~ forum.idUser.lastname }}</a></td>
                    <td>{{ forum.datecreation|date("d/m/Y") }}</td>
                    <td>
                        <div class="row">
                            <div class="col s6">
                                <a href="{{ path('admin.forum.edit', {id: forum.id}) }}"
                                   class="btn waves-effect waves-light blue lighten-2"><i class="material-icons">edit</i></a>
                            </div>
                            <div class="col s6">
                                <form method="post" action="{{ path('admin.forum.delete', {id: forum.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ?')">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ forum.id) }}">
                                    <button class="btn waves-effect waves-light red lighten-2"><i class="material-icons">delete_forever</i></button>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{%  endblock %}