<!-- Sidenav Structure -->
<ul class="sidenav" id="sidenav">
    <li>
        <a href="{{ path('home.tutorials')}}"><i class="material-icons left">home</i>Accueil</a>
    </li>
    <li {% if current_menu is defined and current_menu == 'posts' %}class="active"{% endif %}>
        <a href="{{ path('admin.home.index')}}"><i class="material-icons left">add_to_queue</i>Posts</a>
    </li>
    <li {% if current_menu is defined and current_menu == 'users' %}class="active"{% endif %}>
        <a href="{{ path('admin.users.index')}}"><i class="material-icons left">account_circle</i>Users</a>
    </li>
    <li {% if current_menu is defined and current_menu == 'contacts' %}class="active"{% endif %}>
        <a href="{{ path('admin.contacts.index')}}"><i class="material-icons left">info_outline</i>Contacts</a>
    </li>
    <li {% if current_menu is defined and current_menu == 'signalements' %}class="active"{% endif %}>
        <a href="{{ path('admin.reports.index')}}"><i class="material-icons left">report</i>Signalements</a>
    </li>
    <li class="divider"></li>
    <li>
        <a href="{{ path('logout')}}">Deconnexion</a>
    </li>
    <li>
        <a href="{{ path('myaccount.home')}}">Mon compte</a>
    </li>
</ul>



<nav class="blue lighten-1">
    <div class="nav-wrapper">
        <!-- Sidenav Trigger -->
        <a href="#" data-target="sidenav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="left hide-on-med-and-down">
            <li>
                <a href="{{ path('home.tutorials')}}"><i class="material-icons left">home</i>Accueil</a>
            </li>
            <li {% if current_menu is defined and current_menu == 'posts' %}class="active"{% endif %}>
                <a href="{{ path('admin.home.index')}}"><i class="material-icons left">add_to_queue</i>Posts</a>
            </li>
            <li {% if current_menu is defined and current_menu == 'users' %}class="active"{% endif %}>
                <a href="{{ path('admin.users.index')}}"><i class="material-icons left">account_circle</i>Users</a>
            </li>
            <li {% if current_menu is defined and current_menu == 'contacts' %}class="active"{% endif %}>
                <a href="{{ path('admin.contacts.index')}}"><i class="material-icons left">info_outline</i>Contacts</a>
            </li>
            <li {% if current_menu is defined and current_menu == 'signalements' %}class="active"{% endif %}>
                <a href="{{ path('admin.reports.index')}}"><i class="material-icons left">report</i>Signalements</a>
            </li>
        </ul>
        <a href="{{ path('admin.home.index')}}" class="brand-logo center"><img id="bandeau" width="60" height="60" src="{{ asset('Images/icon2.png') }}" alt="logo"/></a>
        <ul class="right hide-on-med-and-down">
            <li>
                <a href="{{ path('logout')}}">Deconnexion</a>
            </li>
            <li>
                <a href="{{ path('myaccount.home')}}">Mon compte</a>
            </li>
        </ul>
    </div>
</nav>