{% macro post(form, button) %}
    <div class="container" style="margin-right: 20%; margin-left: 20%;  margin-top: 3%;">
        {{ form_start(form) }}
            {{ form_row(form.idSurfer) }}
            {{ form_row(form.title) }}
            {{ form_row(form.contents) }}
            {% if form.idCategory is defined %}
                {{ form_row(form.idCategory) }}
            {% endif %}
            <button class="btn waves-effect waves-light blue lighten-2">{{ button }}</button>
        {{ form_end(form) }}
    </div>
{% endmacro %}

{% macro user(form, user, label_btn) %}
    <div class="container" style="margin-right: 20%; margin-left: 20%;  margin-top: 3%;">
        {% if app.request.pathinfo matches '/^\\/inscription/' %}
            <h4>{{ label_btn }}</h4>
        {% endif %}
        {{ form_start(form) }}

            <div class="row">
                <div class="col s6">
                    {{ form_row(form.imageFile) }}
                </div>
                <div class="col s6">
                    {% if user is not null %}
                        <img style="width: 30%;" src="{{ vich_uploader_asset(user, 'imageFile') }}"
                             alt="Profil picture ~ {{ user.lastname ~ ' ' ~ user.firstname }}">
                    {% endif %}
                </div>
            </div>

            {% if app.request.pathinfo matches '/^\\/admin\\/user/' %}
                {{ form_row(form.isAdmin) }}<br>
            {% endif %}

            <div class="row">
                <div class="col s6">
                    {{ form_row(form.firstname) }}
                </div>
                <div class="col s6">
                    {{ form_row(form.lastname) }}
                </div>
            </div>

            {{ form_row(form.mail) }}
            {{ form_row(form.password) }}

            <button class="btn waves-effect waves-light light-blue darken-1">{{ label_btn }}</button>
        {{ form_end(form) }}

        {% if app.request.pathinfo matches '/^\\/inscription/' %}
            <a href="{{ path('connexion') }}">
                <button class="btn waves-effect waves-teal btn-flat purple lighten-5">Se connecter</button>
            </a>
            <br>
            <a href="{{ path('tutorials.showTutorials') }}">
                <button class="btn waves-effect waves-light center">Retour à l'accueil</button>
            </a>
        {% endif %}
    </div>
{% endmacro %}